# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/codeStyleSettings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
algorithms2/part2-week2/part2-week2.iml
algorithms2/part2-week1/target/test-classes/WordNetTest.class
algorithms2/part2-week1/target/classes/Outcast.class
algorithms2/part2-week1/target/classes/SAP$DirectedCycle.class
algorithms2/part2-week1/target/classes/SAP.class
algorithms2/part2-week1/target/classes/WordNet$DirectedCycle.class
/algorithms1/algorithms1.iml
/.idea
/algorithms2/*.iml
/algorithms2/part2-week1/target
*.iml
